.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
    background-image: url(../Images/hero-bg.jpg);
    background-size: cover;
    position: relative;
    
}